* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f7f7f5;
  color: #111;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 40px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
}

.header-left {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.section-number {
  font-size: 14px;
  opacity: 0.6;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -1px;
}

.years {
  font-size: 25px;
  opacity: 1;
}

/* Divider */
.divider {
  height: 1px;
  background-color: #ddd;
  margin-bottom: 60px;
}

/* Projekt */
.project {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
}

.project + .project {
  border-top: 1px solid #ddd;
}

.project-meta {
  font-size: 12px;
  opacity: 0.6;
  text-transform: uppercase;
  line-height: 1.6;
}

.project-title {
  font-size: 28px;
  margin-top: 10px;
}

.project-image {
  background-color: #ccc;

  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.project-link {
  font-size: 15px;
  text-transform: uppercase;
  text-align: right;
  color: #111;
  text-decoration: underline;
  opacity: 0.6;
}

/* Responsiv */
@media (max-width: 900px) {
  .project {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .project-link {
    text-align: left;
  }

  h1 {
    font-size: 48px;
  }
}
